<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div style="display: flex; align-items: center; flex-direction: column;">
    <h1>Login page</h1>
    <form th:action="@{/doLogin}" method="post" style="width: 200px">
        <div th:if="${param.logout}" class="alert alert-info">
            You have been logged out
        </div>
        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username or password
        </div>
        <div class="form-group">
            <label for="username">Username</label>:
            <input class="form-control" type="text" id="username" name="user" autofocus="autofocus"/> <br/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>:
            <input class="form-control" type="password" id="password" name="pass"/> <br/>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <input type="submit" value="Log in" class="btn btn-primary"/>
    </form>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>