<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>OAuth2 Tester</title>
</head>
<body>
    <span th:id="token" th:value="${token}"></span>
    <div th:if="${token != null}">
        <h3>Your access token <span th:text="${token}"/></h3>
    </div>
    <script>
        const CLIENT_ID = "client-id1";
        let accessToken = document.getElementById("token").getAttribute("value");
        if (!accessToken) {
            window.location = `http://localhost:8080/oauth/authorize?grant_type=authorization_code&response_type=code&client_id=${CLIENT_ID}&state=1234`;
        }
    </script>
</body>
</html>